{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recess-order",
    "stylelint-config-prettier"
  ],
  "rules": {},
  "overrides": [
    {
      "files": ["**/*.jsx", "**/*.tsx"],
      "rules": {
        "value-keyword-case": [
          "lower",
          {
            "ignoreKeywords": ["/.*/"],
            "ignoreProperties": ["/.*/"],
            "ignoreFunctions": ["/.*/"]
          }
        ],
        "function-name-case": [
          "lower",
          {
            "ignoreFunctions": ["/.*/"]
          }
        ],
        "selector-class-pattern": [
          "^([a-z][a-z0-9]*)(-[a-z0-9]+)*((__([a-z][a-z0-9]*)(-[a-z0-9]+)*)?(--([a-z][a-z0-9]*)(-[a-z0-9]+)*)?)$"
        ]
      },
      "customSyntax": "@stylelint/postcss-css-in-js"
    }
  ]
}
